@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "DM Sans", sans-serif;
}
body{
    background-color: #18181b;
}
.typing-animation {
    border-right: 4px solid white; /* Cursor */
    white-space: nowrap;
    overflow: hidden; /* Hide the overflowing text */
    animation: blink-caret 0.75s step-end infinite; /* Blinking caret animation */
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  
  ::-webkit-scrollbar{
    display: none !important;
  }